@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
:root{
    --main-color:#2980b8;
    --second-color:#fcaf17;
    --dark-color:#1a618d;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-radius : 5px;
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}
.active{
border-left-color: var(--second-color) !important;
}
*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--main-color);
}

section{
    padding:5rem 9%;
}
a{
    text-decoration: none;
}
.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top:50%; left:0;
    transform: translateY(-50%);
    width: 100%;
    height:.01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}

.heading span{
    font-size: 3rem;
    padding:.5rem 2rem;
    color:var(--black);
    background: #fff;
    border:var(--border);
}

.btn{
    background-color: transparent;
    border: solid 1px white;
    padding: 15px 30px;
    min-width: 100px;
    width: fit-content;
    font-size: 14px;
    letter-spacing: 2px;
    color: white;
    position: relative;
    border-radius: var(--border-radius);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-top: 20px;
  }

.btn:hover{
    background:var(--dark-color);
}
/*Scroll Top*/
#scroll_top{
    position: fixed;
    right: -60px;
    bottom: 25px;
    padding: 8px 12px;
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
    z-index: 4;
    border-radius: var(--border-radius);
    font-size: 2rem;
    font-weight: 800;
    transform: rotate(90deg);
}
#scroll_top:hover{
    background-color: var(--dark-color);
}

/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    section{
        padding:3rem 2rem;
    }

}
@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }
    #scroll_top{
    bottom: 50px;
    }
}
@media (max-width:450px){

    html{
        font-size: 50%;
    }

}

.num_backet{

    color: white;
    background: red;
    position: absolute;
    padding: 0px 4px;
    margin: -2px 0 0 -3px;
    border-radius: 20px;
    font-size: 12px;
}
@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }


    table{
        table-layout: fixed;
      }
      tbody{
            display: block;
          overflow: auto;
      }

      .swal2-backdrop-show{
        z-index: 99999 !important;
      }
.btn-c
{
    width: 125px;
    padding: 4px !important;
    font-size: 14px !important;
    margin-right: 25px;
}

.items_num
{
margin: 30px;
font-size: 14px;
padding: 5px;
}

.scrollbar
{


	background: #F5F5F5;
	overflow-y: scroll;
    width: 800px;
	margin-bottom: 25px;
}

.scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #2980b8;
}
.qty{
    text-align: center;
}

.col-6 span{
    color: #000000a1;
}

.heart{
font-size: 20px;
padding: 0px 6px 0px 6px;
margin-bottom: 8px;
border-radius: 35px;
color: rgb(217, 47, 47);

}
.bi-heart-fill{
    display: none;
}
.sp{
    font-size: 18px;
    margin: 3px;
}